
header{
    display:flex;
    justify-content: center;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(34, 1, 75);
    color: azure;
    font-family: roboto;
    width: 100%;
}

body{
    margin:0;
}

menu{
    padding-left: 0;
    height: 100vh;
    
}

.menu-container{
   display: flex;
   flex-direction: row;
   width: auto;
   margin:0;
   background-color: rgb(239, 229, 255);
   font-family: roboto;
   gap: 10px;
}


.texto-item{
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}

.galeria-ecommerce{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 20px;
    gap: 20px;
    background-color: rgb(255, 247, 238);
    width: 100%;
}

.item-galeria{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    width: 300px;
    height: 100%;
    padding: 5px;
}

.texto-galeria{
    text-align: center;
    background-color: rgb(77, 0, 112);
    color: aliceblue;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

footer{
    font-family: roboto;
    font-size: small;
    background-color: rgb(19, 0, 42);
    color: azure;
    margin: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}


h2{
    font-family: roboto;
}

p{
    margin: 5px;
    padding: 0;
    font-family: roboto;
}



