
header{
    display:flex;
    justify-content: center;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(34, 1, 75);
    color: azure;
    font-family: roboto;
}

body{
    margin:0;
}

menu{
    padding-left: 0;
    height: 100vh;
}

.menu-container{
   display: flex;
   flex-direction: row;
   width: 200px;
   margin:0;
   padding-left: 0;
   background-color: rgb(239, 229, 255);
   font-family: roboto;
   gap: 10px;
}


.texto-item{
    display: flex;
    flex-direction: row;
}

.galeria-ecommerce{
    display: grid;
    grid-template-columns: auto auto auto;
    border: 2px red;
    padding: 20px;
}

footer{
    font-family: roboto;
    font-size: small;
    background-color: rgb(19, 0, 42);
    color: azure;
    margin: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}

p{
    margin: 5px;
    padding: 0;
}



